{
	"name": "{{appDescription}}",
    "prefix": "kyper.data",
	"members": [
    {{#operations}}
        {{#operation}} {
    	"name":"{{nickname}}",
    	"description":"{{notes}}",
    	"params": [{{#allParams}} 
			{"name":"{{paramName}}", "type": ["{{dataType}}"], {{^required}}"default":"{{#defaultValue}}{{/defaultValue}}",{{/required}} "description":"{{description}}" }{{#hasMore}}, {{/hasMore}} {{newline}} {{/allParams}}
		],
    	"class_method": true,
    	"ret": {"type":"{{returnType}}", "description":"{{summary}}"}
        }{{#hasMore}}, {{/hasMore}}{{/operation}}
    {{/operations}}
	]
}
